/* Makes menu items move to center when in hamburger menu */

@media (max-width: 991.98px) {
    .navbar-nav {
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1 0 auto;
}

footer {
    text-align: center;
    background-color: gray;
    padding: 45px;
}

.footer-text {
    color: white;
}

/* ADD OVERLAY WITH TEXT */
.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* IMAGE SIZES */

.img-fluid {
    width: 100px;
}

.bs-img {
    width: 169px;
}


.placeholder-img {
    width: 300px;
}

.carousel-img {
    width: 300px;
    height: 300px;
}